extends base
mixin overviewBox(label,text,icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text
mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt='Jim Brown')
      h6.reviews__user= review.user.name

    p.reviews__text= review.review

    .reviews__rating
      each star in [1,2,3,4,5]
        svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
          use(xlink:href='/img/icons.svg#icon-star') 
block append head
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
  script(src='/js/leaflet.js', defer)
  script()
block content
  main.main
    section.section-header
      .header__hero
        .header__hero-overlay &nbsp;
        img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

      .heading-box
        h1.heading-primary
          span= `${tour.name} tour`

        .heading-box__group
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-clock')
            span.heading-box__text= `${tour.duration} days`

          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-map-pin')
            span.heading-box__text= tour.startLocation.description

    section.section-description
      .overview-box
        div
          .overview-box__group
            h2.heading-secondary.ma-bt-lg Quick facts
            - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'});
            +overviewBox('Next date',date,'calendar')
            +overviewBox('Difficulty',tour.difficulty,'trending-up')
            +overviewBox('Participants',`${tour.maxGroupSize} people`,'user')
            +overviewBox('Rating',`${tour.ratingsAverage}/5`,'star')
          .overview-box__group
            h2.heading-secondary.ma-bt-lg Your tour guides
            each guide in tour.guides
                .overview-box__detail
                    img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                    - if (guide.role === 'lead-guide')
                      span.overview-box__label Lead guide
                    - if (guide.role === 'guide')
                      span.overview-box__label Tour guide
                    span.overview-box__text= guide.name
      .description-box
        h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
        - const paragraph = tour.description.split('\n');
        each p in paragraph 
          p.description__text= p 
    section.section-pictures
      each img,i in tour.images
        .picture-box
          img.picture-box__img(src=`/img/tours/${img}`, alt='The Park Camper Tour 1',class=`picture-box__img--${i+1}`)
    section.section-map
      #map(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews
      .reviews
        each review in tour.reviews 
          +reviewCard(review)
      if user
        div(style="text-align: center; margin-top: 3rem;")
          button.btn.btn--white.btn--small#btn-add-review Add Review
    section.section-cta
      .cta
        .cta__img.cta__img--logo
          img(src='/img/logo-white.png', alt='Natours logo')

        img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}`, alt='')
        img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}`, alt='')

        .cta__content
          h2.heading-secondary What are you waiting for?

          p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
          if user
            button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
          else
            a.btn.btn--green.span-all-rows(href='/login') Log in to book tour!

    .modal#review-modal.hidden
      .modal__content
        button.modal__close#close-review-modal &times;
        h2.heading-secondary.ma-bt-lg Leave a Review
        form.form.form--add-review(data-tour-id=`${tour.id}`)
          .form__group
            label.form__label Rating
            .star-rating
              input(type='radio' id='star5' name='rating' value='5')
              label(for='star5' title='5 stars')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
              input(type='radio' id='star4' name='rating' value='4')
              label(for='star4' title='4 stars')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
              input(type='radio' id='star3' name='rating' value='3')
              label(for='star3' title='3 stars')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
              input(type='radio' id='star2' name='rating' value='2')
              label(for='star2' title='2 stars')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
              input(type='radio' id='star1' name='rating' value='1' required)
              label(for='star1' title='1 star')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
          .form__group.ma-bt-md
            label.form__label(for='review') Review
            textarea.form__input#review(name='review', rows='4', required, placeholder='Write your review here...')
          .form__group
            button.btn.btn--green Submit Review